#Port
server:
  port: 7070
  servlet: 
    context-path: /SSA
#Database connection
spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.Oracle10gDialect
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/orcl
    username: SSA_DEV
    password: SSA_DEV
    driver-class-name: oracle.jdbc.driver.OracleDriver
#sending mail
  mail:
    host: smtp.gmail.com
    port: 587
    username: dibakarmaji14u@gmail.com
    password: 8016244977
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
#Loggin
logging:
  file: IES-App.log
  level:
    root: INFO
    com.usa.gov.ssa: DEBUG